<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href=https://cdn.bootcss.com/iview/3.4.2-rc.1/styles/iview.css rel=stylesheet>
    <script src=https://cdn.bootcss.com/vue/2.5.9/vue.min.js></script>
    <script src=https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js></script>
    <script src=https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js></script>
    <script src=https://cdn.bootcss.com/axios/0.15.3/axios.min.js></script>
    <script src=https://cdn.bootcss.com/iview/3.4.2-rc.1/iview.min.js></script>
    <title>领导驾驶舱</title>
    <link href=/css/chunk-0b3b5c7e.beae10af.css rel=prefetch>
    <link href=/css/chunk-3566b930.4de34f18.css rel=prefetch>
    <link href=/css/chunk-3e1599a8.d6452a04.css rel=prefetch>
    <link href=/js/chunk-0b3b5c7e.da74478f.js rel=prefetch>
    <link href=/js/chunk-2d0ab460.1b99582c.js rel=prefetch>
    <link href=/js/chunk-2d0aec70.b9f28a58.js rel=prefetch>
    <link href=/js/chunk-2d0cc3f5.89a3e1d3.js rel=prefetch>
    <link href=/js/chunk-2d0f0084.5b6ced16.js rel=prefetch>
    <link href=/js/chunk-2d208bdd.d5fef530.js rel=prefetch>
    <link href=/js/chunk-2d212f08.0915ee77.js rel=prefetch>
    <link href=/js/chunk-2d2250de.73c02753.js rel=prefetch>
    <link href=/js/chunk-2d22ce45.435f54f3.js rel=prefetch>
    <link href=/js/chunk-3566b930.cb10ef56.js rel=prefetch>
    <link href=/js/chunk-3e1599a8.a7157354.js rel=prefetch>
    <link href=/js/chunk-71f95e44.68f8381c.js rel=prefetch>
    <link href=/js/chunk-daf86266.ea3b5984.js rel=prefetch>
    <link href=/js/chunk-dd5a06d6.f324d280.js rel=prefetch>
    <link href=/css/app.3fa1c03e.css rel=preload as=style>
    <link href=/js/app.8c8b12eb.js rel=preload as=script>
    <link href=/js/chunk-vendors.2e1df9c1.js rel=preload as=script>
    <link rel="shortcut icon" href=/favicon.ico>
    <link href=/css/app.3fa1c03e.css rel=stylesheet>
</head>
<body>
<script>
    window.location.href="http://127.0.0.1:4000"
</script>
<!--<div id=app></div>-->
<!--<script src=/js/chunk-vendors.2e1df9c1.js></script>-->
<!--<script src=/js/app.8c8b12eb.js></script>-->
</body>
</html>